/* 전체 영역 */
.board-container {
    width: 1100px;
    margin: 60px auto;
    font-family: "Pretendard", sans-serif;
}

/* 제목 */
.board_title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    white-space: nowrap;
}

/* 검색 영역 */
.board-search-wrap {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.board-search-wrap select,
.board-search-wrap input {
    height: 38px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.board-search-wrap input {
    width: 250px;
}

.board-search-wrap button {
    padding: 0 15px;
    height: 38px;
    border: none;
    border-radius: 6px;
    background-color: #2c7be5;
    color: #fff;
    cursor: pointer;
}

.board-search-wrap button:hover {
    background-color: #1a68d1;
}

/* 상태 필터 */
.board-filter {
    margin-bottom: 20px;
}

.status-btn {
    padding: 6px 14px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 13px;
}

.status-btn:hover {
    background-color: #e0e0e0;
}

.board-filter{
    white-space: nowrap;
}

/* 테이블 */
.board-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    /* table-layout: fixed; */
    white-space: nowrap;
}

/* 헤더 */
.board-list thead {
    background-color: #f8f9fa;    
}

.board-list th {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    border-bottom: 2px solid #ddd;
}

/* 본문 */
.tit a {
    text-decoration: none;
    color: inherit;
}
.tit a:hover {
    text-decoration: underline;
}

.board-list td {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    /* text-align: left; */
}
th.category, td.cate {
    width: 15%;
    text-align: center;
}

th.title, td.tit {
    width: 40%;
    text-align: center;
}

th.status, td.status {
    width: 15%;
    text-align: center;
}

th.manage, td.manage {
    width: 15%;
    text-align: center;
}

th.date,  td.date{
    width: 20%;
    text-align: center;
}

/* 마우스 오버 효과 */
.board-list tbody tr:hover {
    background-color: #f9fbff;
}

/* 제목 클릭 가능 표시 */
.detail-link {
    color: #2c7be5;
    cursor: pointer;
}

.detail-link:hover {
    text-decoration: underline;
}

/* 검색에 해당하지 않는 항목 감추기 */
.hidden {
    display: none;
}

.status-btn {
    padding: 6px 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* 마우스 올렸을 때 */
.status-btn:hover {
    background-color: #e0e0e0;
}

/* ⭐ 선택된 상태 */
.status-btn.active {
    background-color: #2c7be5;
    color: #fff;
    border-color: #2c7be5;
}