
/* 테이블 레이아웃 */
.table-wrapper {
    margin-top: 20px;
}

.staff-table {
    width: 100%;
    border-collapse: collapse;
}

.staff-table th {
    padding: 15px;
}

.staff-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

